* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
}

#topBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    height: 60vh;
    width: 99vw;
}

#topBox::before {
    Content: "";
    background: url(./images/guilherme-petri-PtOfbGkU3uI-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: inherit;
    width: inherit;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#mainNavBar ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    transition: all 300ms;
}

#mainNavBar ul li a:hover {
    color: rgb(72, 61, 0);
    text-decoration: underline;
}

#mainNavBar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: flex-end;
    column-gap: 10%;
}

#mainNavBar {
    margin-top: 2%;
    position: relative;
    left: 22%;
    width: 50%;
}

#topBox h1 {
    align-self: center;
    position: relative;
    top: 40%;
    font-size: 3.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#contactForm {
    display: flex;
    flex-direction: column;
    width: 98vw;
    height: 90vh;
    align-self: center;
    justify-content: center;
    align-items: center;
}

#contactForm form {
    width: 50%;
}